<h2>Ask The Coach</h2>

<form action="/answer" method="get">
  <input class="textbox" type="text" name="question" placeholder="Ask your coach a question">
  <input class="submit" type="submit" value="Ask!">
</form>
